<div class="col-md-{{tamanho}} col-xs-{{tamanho}} {{classe}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>ERRO 403!</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="error-number">403</h1>
                    <h2>Acesso negado</h2>
                    <p>Suas credencias não tem autorização para acessar esta área.</br>Favor contactar o administrador do sistema.</p>
                </div>
            </div>
        </div>
    </div>     
</div>
