<div class="col-md-12 col-sm-12 col-xs-12 {{classe}}" ng-init="getLinkDownload();">
    <div class="x_panel"  id="loading-bar-container"   >
        <div class="x_title">
            <h2>Arquivos<small>Download</small></h2>
            <div class="clearfix"></div>
            <br/>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12">
                    <p ng-show="linkDownload">Se a opção para Download não aparecer, <a href="#" onclick="document.location.reload()"><b>clique aqui</b></a> para fazer o download do arquivo '{{arquivoDownload}}'</p>
                    <p ng-show="erroDownload">O link do arquivo '{{arquivoDownload}}' que você está tentando baixar expirou em {{erroDownload}}. Entre em contato com o autor do arquivo para obter um novo link.</p>
                </div>
            </div>
        </div>
    </div>
</div>

