<footer class="rodape">
    <div class="pull-right footer_fixed">
        GED - Gestão Eletrônica de Documentos by <a href="http://www.safetydocs.com.br/" target="_blank">Safetydocs</a>
    </div>
    <div class="clearfix"></div>
</footer>
