<div class="col-md-3 left_col" ng-controller="menuController">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;" ng-click="montarArvore();">
            <a href="index.html" class="site_title">
                <img src="{{empresa.logo}}" alt="{{empresa.razao}}" ui-sref="base.home" />
            </a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_info">
                <span style="font-size: .7em;">Bem vindo(a)</span>
                <h2>{{usuario.nome}}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" ng-init="inicializarArvore();">
            <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu bouncy-slide-down" >
                    <li ng-repeat="m in menu" ng-class="{
                                'active': itemMenu[t]['ativo'] == true}" ng-init='t = $index;'>
                        <a ng-click="exibirOcultarItem(t)"  ui-sref="{{m.link}}"><i class="fa {{m.icone}}"></i>{{m.titulo}}<span ng-if="m.itens[0].titulo.length > 0" class="spin-toggle"  ng-class="itemMenu[t]['ativo'] == true ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></span></a>
                        <ul class="nav child_menu  exibir rotate-in" ng-show="itemMenu[t]['ativo'] == true">
                            <li class="rotate-in" ng-if="m.itens[0].titulo.length > 0 && !m.itens[0].itens[0].titulo" ng-repeat="item in m.itens" ng-init=''>
                                <a ng-if="!item.codarvore" ui-sref="{{item.link}}" acesso-Presidente>{{item.titulo}}</a>
                                <a ng-if="item.codarvore > 0" ui-sref="base.raiz({codigoRaiz: item.codarvore, raiz:corrigirPalavra(item.titulo)})" ng-click="exibirOcultarItem(t, $index); montar();">
                                    {{item.titulo}}
                                    <span class="fa fa-plus fa-2x" ng-click="novaPasta(item.codarvore);" remover-plus></span>
                                    <span ng-if="item.itens[0].titulo.length > 0" class="spin-toggle " ng-class="itemMenu[t][$index]['ativo'] == true ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></span>
                                </a>
                            </li>
                            <li ng-if="m.itens[0].titulo.length > 0 && m.itens[0].itens[0].titulo" ng-repeat="item in m.itens">
                                <a ui-sref="base.raiz({codigoRaiz: item.codarvore, raiz:corrigirPalavra(item.titulo)})" ng-click="exibirOcultarItem(t, $index); montar();">
                                    {{item.titulo}}
                                    <span style="width:14px" class="fa fa-plus fa-2x" ng-click="novaPasta(item.codarvore);" remover-plus></span>
                                    <span style="width:10px" ng-if="item.itens[0].titulo.length > 0" class="spin-toggle " ng-class="itemMenu[t][$index]['ativo'] == true ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></span>
                                </a>
                                <ul class="nav child_menu exibir rotate-in" ng-show="itemMenu[t][$index]['ativo'] == true" ng-init="g = $index">
                                    <li class="sub_menu rotate-in" ng-if="itemMenu[t][g]['ativo'] == true" ng-repeat="i in item.itens">
                                        <a ui-sref="base.sub({codigoRaiz: item.codarvore, raiz:corrigirPalavra(item.titulo), codigo1:i.codarvore, pasta1:corrigirPalavra(i.titulo)})" ng-click="exibirOcultarItem(t, g, $index); montar();">
                                            {{i.titulo}}
                                            <span style="width:14px" class="fa fa-plus fa-2x" ng-click="novaPasta(i.codarvore);" remover-plus></span>
                                            <span style="width:10px" ng-if="i.itens[0].titulo.length > 0" class="spin-toggle " ng-class="itemMenu[t][g][$index]['ativo'] == true ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></span>
                                        </a>
                                        <ul class="nav child_menu exibir rotate-in"  ng-init="y = $index">
                                            <li class="sub_menu rotate-in" ng-if="itemMenu[t][g][y]['ativo']" ng-repeat="ii in i.itens">
                                                <a ui-sref="base.sub1({codigoRaiz: item.codarvore, raiz:corrigirPalavra(item.titulo), codigo1:i.codarvore, pasta1:corrigirPalavra(i.titulo), codigo2:ii.codarvore, pasta2:corrigirPalavra(ii.titulo)})" ng-click="montar();">
                                                    {{ii.titulo}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Tela Cheia" ng-click="toggleFullScreen();">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="#" ng-click="logout();">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>