<div class="top_nav" >
    <div class="nav_menu" >
        <nav>
            <div class="todo">
                <div class="botao"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>
                <div class="input">  <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Pesquisar..." ng-model="pesquisa" ng-enter="pesquisar(pesquisa)">
                        <div class="input-group-addon" ng-click="pesquisar(pesquisa)"><i class="fa fa-search"></i></div>
                    </div></div>
                <div class="botao">
                    <a data-toggle="tooltip" class="btn btn-danger" data-placement="top" title="Logout" href="" class="pull-right" ng-click="logout();">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" ></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>

<script src="ged/build/js/sidebar.js" ></script>
