<div ui-view></div>

<div id="modalViewArquivo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{arquivoViewNome}}</h4>
      </div>
      <div class="modal-body" id="viewArquivo" ng-if="!imgView">
         
      </div>
      <div class="modal-body" id="viewArquivo" ng-if="imgView" style="background:url('{{imgViewCaminho+arquivoViewNome}}') center center no-repeat; height: 500px;">
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

   