<html lang="pt-br" ng-app="gedApp" ng-cloak>
    <head>
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-controller="menuController" >GED | {{empresa.razao}} </title>
        <link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
        <link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <link rel='stylesheet' href='vendors/angular/loading-bar/loading-bar.min.css' type='text/css' media='all' />
        <!-- Custom Theme Style -->
        <link href="build/css/custom.css" rel="stylesheet">
        <link href="build/css/ng-animation.css" rel="stylesheet">
        <link href="build/css/toastr.css" rel="stylesheet">
        <link href="build/css/ng-table.min.css" rel="stylesheet">
    </head>
    <body class="nav-md {{usuario.cor}}">
        <div class="container body">
            <div class="main_container">
                <div ng-if="loginRoot" class="bouncy-slide-down">
                    <div ui-view="menu_lateral"></div>
                    <div ui-view="nav_bar"></div>
                    <div class="right_col" role="main" style="overflow: auto;">
                        <div ui-view="palco"  class="flip-in"></div>
                    </div>
                    <div ui-view="footer"></div>
                </div>
                <div ng-if="!loginRoot" class="bouncy-slide-down">
                    <div class="login" ng-controller="menuController">
                        <a class="hiddenanchor" id="signup"></a>
                        <a class="hiddenanchor" id="signin"></a>
                        <div class="login_wrapper">
                            <div class="animate form login_form">
                                <section class="login_content">
                                    <div><img ng-src="{{empresa.logo}}" alt="{{empresa.razao}}" width="300px"/></div>
                                    <form>
                                        <h1>Entrar</h1>
                                        <div><input type="text" class="form-control" placeholder="Usuário" required="" ng-model="loginN.email" /></div>
                                        <div><input type="password" class="form-control" placeholder="Senha" required="" ng-model="loginN.senha" ng-enter="login(loginN)" /></div>
                                        <div><a class="btn btn-default submit" href="" ng-disabled="!loginN.email && !loginN.senha" ng-click="login(loginN)">Entrar</a></div>
                                        <div class="clearfix"></div>
                                        <div class="separator">
                                            <div class="clearfix"></div>
                                            <br/>
                                            <div>GED - Gestão Eletrônica de Documentos<br/>by <a href="http://www.proxy.com.br/" target="_blank">Proxy Systems</a></div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <!-- jQuery -->
        <script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendors/PDFObject/pdfobject.min.js" ></script>
        <!-- Bootstrap -->
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="vendors/Flot/jquery.flot.js"></script>
        <script src="vendors/Flot/jquery.flot.pie.js"></script>
        <script src="vendors/Flot/jquery.flot.time.js"></script>
        <script src="vendors/Flot/jquery.flot.stack.js"></script>
        <script src="vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="vendors/moment/min/moment.min.js"></script>
        <script src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Custom Theme Scripts -->
        <!-- Angular -->
        <script src="vendors/angular/angular.min.js"></script>
        <script src="vendors/angular/angular-animate.min.js" type="text/javascript"></script>
        <script src="vendors/angular/angular-ui-router.min.js"></script>
        <script src="vendors/angular/angular-file-upload.min.js" type="text/javascript"></script>
        <script src="vendors/angular/angular-sanitize.js" type="text/javascript"></script>
        <script src="vendors/angular/ngDialog.min.js" type="text/javascript"></script>
        <script src="vendors/angular/ngMask.min.js" type="text/javascript"></script>
        <script src="vendors/angular/mask.js" type="text/javascript"></script>
        <script src="vendors/angular/toastr.js" type="text/javascript"></script>
        <script type='text/javascript' src='vendors/angular/loading-bar/loading-bar.min.js'></script>
        <!--<script src="vendors/angular/ng-table.min.js" type="text/javascript"></script>-->    
        <script src="js/bootbox.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/factory.js" type="text/javascript"></script>
        <script src="js/service.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>
        <script src="js/controller.js" type="text/javascript"></script>
        <script src="js/controllerAddEdit.js" type="text/javascript"></script>
        <script src="js/controllerListar.js" type="text/javascript"></script>
        <script src="vendors/angular/ng-table_novo.min.js" type="text/javascript"></script>
        <script src="vendors/angular/ng-table-to-csv.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="vendors/jszip/dist/jszip.min.js"></script>
        <!-- iCheck -->
        <script src="vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="vendors/jszip/dist/jszip.min.js"></script>
        <script src="vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="vendors/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom-teste.js"></script>
        <!-- iCheck -->
        <script src="vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="vendors/jszip/dist/jszip.min.js"></script>
        <script src="vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="vendors/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
        <!-- FastClick -->
        <script src="vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="vendors/nprogress/nprogress.js"></script>
        <!-- FastClick -->
        <script src="vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="vendors/nprogress/nprogress.js"></script>
        <script src="vendors/angular/ui-contextMenu/contextMenu.js" type="text/javascript"></script>
    </body>
</html>