<div class="col-md-{{tamanho}} col-xs-{{tamanho}} {{classe}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{titulo}}<small>{{subTitulo}}</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row" ng-if="cadastro.logo">
                <div class="col-md-10 col-md-push-1 col-sm-12 logo" style="background: #0a3662; text-align: center; float: none;">
                    <img src="upload/{{cadastro.logo}}" style="max-width: 180px;"/>
                </div>
            </div>
            <br>
            <form id='addEdit'>
                <div class="row">
                    <div class="form-group "  ng-repeat="input in conf.input" ng-init="in = $index">
                        <div class="col-md-push-1 col-md-{{input.tamanho}} {{(input.tamanho >= 6)?' col-xs-12 ':'col-xs-6'}}">
                            <label for="{{$index}}" >{{input.label}}</label>
                            <input ng-if="input.ngmask && input.type != 'file' && input.type != 'select' && input.type != 'radio'" type="{{input.type}}" class="form-control" name="{{input.label}}"
                                   id="{{input.label}}" 
                                   ng-model="cadastro[input.model]" ng-blur='callFunction(input.ngblur)'ng-click='callFunction(input.ngclick)'
                                   ng-disabled='input.disabled'
                                   ui-mask="{{input.ngmask}}" ui-mask-placeholder-char="space" 
                                   ng-class="{'require': input.require}"
                                   data-label="{{input.label}}" data-require="{{input.require}}"/>
                            <input ng-if="!input.ngmask && input.type != 'file' && input.type != 'select' && input.type != 'radio'" type="{{input.type}}" class="form-control" name="{{input.label}}"
                                   id="{{$index}}" placeholder="{{input.label}}"
                                   ng-model="cadastro[input.model]" ng-blur='callFunction(input.ngblur)'ng-click='callFunction(input.ngclick)'
                                   ng-disabled='input.disabled'
                                   ng-class="{'require': input.require}"
                                   data-label="{{input.label}}" data-require="{{input.require}}"/>
                            <div class="input-group arquivoUpload" ng-if="input.type == 'file'">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Arquivo&hellip; <input type="{{input.type}}" nv-file-select="" uploader="uploader" 
                                                               id='arquivos'
                                                               ng-multiple="input.ngmultiple"
                                                               ng-model="cadastro[input.model]"
                                                               data-label="{{input.label}}" data-require="{{input.require}}" up-Arquivos>
                                    </span>
                                </span>
                                <input id='labelArquivos' type="text" class="form-control" readonly="readonly" ng-class="{'require': input.require}">
                            </div>
                            <div ng-if="input.type == 'radio'" class="radioGed"  ng-class="{'require': input.require}">
                                <label class="radio-inline" ng-repeat="radio in radio[input.radio]">
                                       <input type="radio" name="{{input.label}}" ng-model="cadastro[input.model]" id="inlineRadio_{{in}}_{{$index}}" ng-value="{{radio.codigo}}"
                                            data-label="{{input.label}}" data-require="{{input.require}}" ng-click='callFunction(input.ngclick, radio.codigo)'><span></span>{{radio.nome}} 
                                    <!--input type="radio" name="{{input.label}}"
                                           ng-model="cadastro[input.model]"
                                           id="inlineRadio{{input.model}}_{{$index}}"
                                           ng-value="{{radio.codigo}}" data-label="{{input.label}}" ng-click='callFunction(input.ngclick, radio.codigo)'><span></span>{{radio.nome}} -->
                                </label>
                            </div>
                            <div  ng-if="input.type == 'select'" >
                                <select type="{{input.type}}"  class="form-control"
                                        ng-options="o.codigo as o.nome for o in lista[input.list]"
                                        ng-model="cadastro[input.model]"
                                        ng-multiple="input.ngmultiple"   
                                        ng-class="{'require': input.require}" ng-change="callFunction(input.ngchange)"
                                        data-label="{{input.label}}" data-require="{{input.require}}">
                                    <option value="">{{input.default}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix" ng-if="input.quebraLinha"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-push-1 col-md-10">
                        *os campos destacados são obrigatórios.
                        <button ng-repeat="botao in botao" ng-if="!botao.link" type="{{botao.type}}" ng-click='callFunction(botao.ngclick)' class="btn {{botao.classe}} pull-right" ng-disabled="callFunction(botao.ngdisabled);" data-link="{{btNovo.link}}" acesso-Master chamada-callback="nivelUp()" data-up="{{botao.up}}">{{botao.label}}</button>
                        <a ng-repeat="botao in botao" ng-if="botao.link" href="{{botao.link}}" type="{{botao.type}}" ng-click='callFunction(botao.ngclick)' class="btn {{botao.classe}} pull-right" ng-disabled="callFunction(botao.ngdisabled);">{{botao.label}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>     
</div>
