<div class="col-md-{{tamanho}} col-xs-{{tamanho}} {{classe}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{titulo}}<small>{{subTitulo}}</small></h2>
            <a href="{{btNovo.link}}" class="btn btn-success pull-right" ng-if="btNovo.link">
                {{btNovo.nome}}</a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" ng-init="inicializarTBody();">
            <div class="row" ng-if="cadastro.logo">
                <div class="col-md-10 col-md-push-1 col-sm-12" style="background: #0a3662; text-align: center; float: none;">
                    <img src="upload/{{cadastro.logo}}" style="   max-width: 180px;"/>
                </div>
            </div>
            <br>
            <form id="addEdit">
                <div class="row">
                    <div class="form-group "  ng-repeat="input in conf.input">
                        <div class="col-md-push-1 col-md-{{input.tamanho}} {{(input.tamanho >= 6)?' col-xs-12 ':'col-xs-6'}}">
                            <label for="{{$index}}" >{{input.label}}</label>
                            <input ng-if="input.ngmask && input.type != 'file' && input.type != 'select' && input.type != 'radio' && input.type != 'depara' && input.type != 'checkbox'" type="{{input.type}}" class="form-control" name="{{input.label}}"
                                   id="{{input.label}}" 
                                   ng-model="cadastro[input.model]" ng-blur='callFunction(input.ngblur)'ng-click='callFunction(input.ngclick)'
                                   ng-disabled='input.disabled'
                                   ui-mask="{{input.ngmask}}" ui-mask-placeholder-char="space" 
                                   ng-class="{'require': input.require}"
                                    data-label="{{input.label}}" data-require="{{input.require}}"
                                   />
                            <input ng-if="!input.ngmask && input.type != 'file' && input.type != 'select' && input.type != 'radio' && input.type != 'depara' && input.type != 'checkbox'" type="{{input.type}}" class="form-control" name="{{input.label}}"
                                   id="{{$index}}" placeholder="{{input.label}}"
                                   ng-model="cadastro[input.model]" ng-blur='callFunction(input.ngblur)'ng-click='callFunction(input.ngclick)'
                                   ng-disabled='input.disabled'
                                   ng-class="{'require': input.require}"
                                    data-label="{{input.label}}" data-require="{{input.require}}"/>
                            <div class="input-group arquivoUpload" ng-if="input.type == 'file'">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Arquivo&hellip; <input type="{{input.type}}" nv-file-select="" uploader="uploader" 
                                                               ng-multiple="input.ngmultiple" 
                                                               ng-model="cadastro[input.model]"
                                                               data-label="{{input.label}}" data-require="{{input.require}}" up-Arquivos>
                                    </span>

                                </span>
                                <input type="text" class="form-control" readonly="readonly" ng-class="{'require': input.require}">
                            </div>
                            <div ng-if="input.type == 'radio'" class="radioGed"  ng-class="{'require': input.require}">
                                <label class="radio-inline" ng-repeat="radio in radio[input.radio]">
                                    <input type="radio" name="{{input.label}}" ng-model="cadastro[input.model]" id="inlineRadio1" ng-value="{{radio.codigo}}"
                                            data-label="{{input.label}}" data-require="{{input.require}}"
                                           ><span></span>{{radio.nome}} 
                                </label>
                            </div>
                            <div  ng-if="input.type == 'select'" >
                                <select type="{{input.type}}"  class="form-control"
                                        ng-disabled ="{{input.disabled}}"
                                        ng-options="o.codigo as o.nome for o in lista[input.list]"
                                        ng-model="cadastro[input.model]"
                                        ng-multiple="input.ngmultiple"   
                                        ng-class="{'require': input.require}" ng-change="callFunction(input.ngchange, cadastro[input.model])"
                                         data-label="{{input.label}}" data-require="{{input.require}}">
                                    <option ng-disabled="true" ng-selected="true" value="">{{input.default}}</option>
                                </select>
                            </div>

                            <div ng-if="input.type == 'checkbox'" class="checkbox checboxGed ged-info"  ng-class="{'require': input.require}">
                                <label>
                                    <input type="checkbox" name="{{input.label}}" ng-model="cadastro[input.model]" id="inlineCheck" ng-true-value="'1'" ng-false-value="'0'"
                                            data-label="{{input.label}}" data-require="{{input.require}}"
                                           ><span></span> 
                                </label>
                            </div>


                            <div  ng-if="input.type == 'depara'" >

                                <div class="row" ng-show="lista[input.listaA]">
                                    <div class="dual-list list-left col-md-12">
                                        <div>
                                            <table>
                                                <!--<tr style="height:35px;margin-bottom:10px;">-->
                                                <tr>
                                                    <td >
                                                        <span style="max-width: 100%;  margin-bottom: 5px;font-weight: 700;">Usuário</span>
                                                    </td>
                                                    <td></td>
                                                    <td >
                                                        <span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Aprovadores</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50%"  >
                                                        <div style="width:100%" >
                                                            <select class="form-control" multiple id="availabelist" size="10" style="width:100%" 
                                                                    ng-model="SelectedAvailItems" 
                                                                    ng-options="i as i.nome for i in lista[input.listaA]">                                                                
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="float:left">
                                                            <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRight(SelectedAvailItems)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                            <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnLeft(SelectedSelectedListItems)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                        </div>
                                                    </td>
                                                    <td  style="width:50%">
                                                        <div>
                                                            <select class="form-control"  multiple id="selectedlist" size="10"  style="width:100%"
                                                                    ng-model="SelectedSelectedListItems" 
                                                                    ng-options="i as i.nome for i in lista[input.listaB]">                                                       
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-if="input.quebraLinha"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-push-1 col-md-10">
                        *os campos destacados são obrigatórios.
                        <button ng-repeat="botao in botao" ng-if="!botao.link" type="{{botao.type}}" ng-click='callFunction(botao.ngclick)' class="btn {{botao.classe}} pull-right" ng-disabled="callFunction(botao.ngdisabled);" acesso-Master>{{botao.label}}</button>
                        <a ng-repeat="botao in botao" ng-if="botao.link" href="{{botao.link}}" type="{{botao.type}}" ng-click='callFunction(botao.ngclick)' class="btn {{botao.classe}} pull-right" ng-disabled="callFunction(botao.ngdisabled);">{{botao.label}}</a>

                    </div>
                </div>
            </form>
        </div > 
        <div class="x_content" ng-if="!error && tbody.length > 0">
            <div class="row" >
                <div class="col-lg-offset-0 col-lg-4">
                    <a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link()}}" download="test.csv">Excel</a>
                </div>
                <div class="col-lg-offset-4 col-lg-4">
                    <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="search" />
                </div>
            </div>
            <div class="table-responsive">
                <table id="datatable-buttons" ng-table-dynamic="ParamTable with cols" class="table table-bordered table-striped"  export-csv="csv" separator=";"> 
                    <tr ng-repeat="row in $data | filter:search"  class="slide-down">
                        <td ng-repeat="col in cols" ng-if="col.field != 'editar' && col.field != 'excluir'" >
                            {{::row[col.field]}}
                        </td>
                        <td ng-repeat="col in cols" ng-if="col.field == 'editar' && col.field != 'excluir'" acesso-Master>
                            <a href="{{editItem}}{{row.editar}}"  class="edit">
                                <span class="fa fa-pencil" ></span>
                            </a>
                        </td>
                        <td ng-repeat="col in cols" ng-if="col.field != 'editar' && col.field == 'excluir'" acesso-Master>
                            <a href="#" class="remove" ng-click="excluir(row.excluir)"  acesso-Master>
                                <span class="fa fa-close"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
</div>
