<div class="col-md-12 col-sm-12 col-xs-12 {{classe}}" ng-init="inicializaContatores()"> 
    <div class="" role="main">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="inicializarTBody('andamento')" style="cursor: pointer;">
                <div class="tile-stats andamento">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                    <div class="count">{{qtd.andamento}}</div>
                    <h3>Em andamento</h3>
                    <p>Arquivos aguardando aprovação.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="inicializarTBody('aprovado')" style="cursor: pointer;">
                <div class="tile-stats aprovados">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <div class="count">{{qtd.aprovados}}</div>
                    <h3>Aprovados</h3>
                    <p>Arquivos aprovados.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"  ng-click="inicializarTBody('reprovado')" style="cursor: pointer;">
                <div class="tile-stats reprovados" >
                    <div class="icon"><i class="fa fa-thumbs-down"></i></div>
                    <div class="count">{{qtd.reprovados}}</div>
                    <h3>Reprovados</h3>
                    <p>Arquivos reprovados.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats disco" >
                    <div class="icon"><i class="fa fa-database"></i></div>
                    <div class="count">{{qtd.espacoconsumido}}</div>
                    <h3>Espaço consumido</h3>
                    <p>Total de espaço consumido.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 {{classe}}" ng-init="inicializarTBody('andamento');">
                <div class="x_panel"  id="loading-bar-container"   >
                    <div class="x_title">
                        <h2>{{titulo}}<small>{{subTitulo}}</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" ng-show="tbody.length > 0">            
                        <div class="table-responsive" ng-show="tbody.length > 0">
                            <table id="datatable"  width='100%' class="display table table-striped table-bordered">             
                            </table>
                        </div> 
                    </div>
                    <div class="ng-scope row" ng-show="tbody.length <= 0">
                        <br>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <div class="alert ng-isolate-scope alert-info alert-dismissable" ng-show="tbody.length <= 0">Não há registros para exibição!</div>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>