<style>
    .pdfobject-container { height: 500px;}
    .pdfobject { border: 1px solid #666; }
</style>
<div class="col-md-12 col-sm-12 col-xs-12 {{classe}} rotate-in">
    <div class="x_panel" id="loading-bar-container" context-menu="menuOptionsRaiz">
        <div class="x_title">
            <h2>
                <div></div>
                <ol class="breadcrumb">
                    <li class="rotate-in" ng-repeat="pasta in estruturaPasta">
                        <a ng-if="pasta.type === 0" ui-sref="base.raiz({{pasta.link}})" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 1" ui-sref="base.sub({{pasta.link}})" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 2" ui-sref="base.sub1({{pasta.link}})" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 3" ui-sref="base.sub2({{pasta.link}})" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 4" ui-sref="base.sub3({{pasta.link}})" href="#">{{pasta.pasta}}</a>
                    </li>         
                </ol>
            </h2>
            <button title="Nova Pasta" id='novaPasta' class="btn btn-warning pull-right" ng-click="novaPasta();" ng-if="codpai > 0" permissao-Pasta><i class="fa fa-folder padding-right-10"></i><i class="fa fa-plus" ></i></button>
            <button title="Upload Arquivo" class="btn btn-success pull-right fa fa-cloud-upload" data-toggle="modal" data-target="#modalUpload" title="Upload..." permissao-Pasta></button>
            <span class="pull-right">|</span>
            <button title="Exibir como tabela" class="btn btn-info pull-right" ng-click="setTableLista()"><i class="fa fa-list"></i></button>
            <button title="Exibir como grade" class="btn btn-primary pull-right" ng-click="setGradeLista()"><i class="fa fa-th"></i></button>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" nv-file-over="" uploader="uploader">
            <div class="{{classRowList}}">
                <div id="pasta">
                    <div style="{{styleExibe}}" class="{{classList}}">
                        <a style="background-color:#f6f6f6" class="{{classUnique}}" href="#">
                            <div class="padding-right-20 {{classFloatList}}" style="font-size: 10px;">&nbsp;</div>
                            <div class="col-sm-4"><p><b>Nome</b></p></div>
                            <div class="col-sm-1" style="text-align:right;"><p><b>Tamanho1</b></p></div>
                            <div class="col-sm-2"><p><b>Tipo</b></p></div>
                            <div class="col-sm-2"><p><b>Data de Criação</b></p></div>
                            <div class="col-sm-2"><p><b>Autor</b></p></div>
                            <div style="clear:both"></div>
                        </a>
                    </div>
                    <div class="{{classList}}" ng-repeat="pasta in pastas.itens" context-menu="menuOptionsFolder">
                        <a class="{{classUnique}}" href="ged/arquivos/{{url}}/{{pasta.codarvore}}/{{corrigirPalavra(pasta.titulo)}}" title="{{pasta.titulo}}">
                            <div class="{{classFloatList}}"><i class="fa fa-folder {{classIconSize}}" ></i></div>
                            <div class="col-sm-{{colStyleExibe}}"><p>{{pasta.titulo}}</p></div>
                            <div style="text-align:right;{{styleExibe}}" class="col-sm-1"><p>---</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>Pasta</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{pasta.dtcadastro}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{pasta.usuario}}</p></div>
                            <div style="clear:both"></div>
                        </a>
                    </div>
                    <div class="{{classList}}" ng-repeat="arquivo in arquivos" context-menu="menuOptionsFile">
                        <a class="{{classUnique}}" ng-if="arquivo.codstatusarquivo == 1" data-toggle="modal"  title="{{arquivo.nome}}" ng-click="visualizarArquivo(arquivo.caminho, arquivo.nome)">
                            <div class="{{classFloatList}}"><i class="{{getIcone(arquivo.nome)}} {{classIconSize}}"  style="color:#f2e18b;"></i></div>
                            <div class="col-sm-{{colStyleExibe}}"><p>{{arquivo.nome}}</p></div>
                            <div style="text-align:right;{{styleExibe}}" class="col-sm-1"><p>{{arquivo.tamanho| formatFileSize}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>Arquivo {{arquivo.extensao}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{arquivo.dtcadastro}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{arquivo.usuario}}</p></div>
                            <div style="clear:both"></div>
                        </a>
                        <a class="{{classUnique}}" ng-if="arquivo.codstatusarquivo == 2" href="" target="_self" title="{{arquivo.nome}}" ng-click="visualizarArquivo(arquivo.caminho, arquivo.nome)">
                            <div class="{{classFloatList}}"><i class="{{getIcone(arquivo.nome)}} {{classIconSize}}" style="color:#da6a6a"></i></div>
                            <div class="col-sm-{{colStyleExibe}}"><p>{{arquivo.nome}}</p></div>
                            <div style="text-align:right;{{styleExibe}}" class="col-sm-1"><p>{{arquivo.tamanho| formatFileSize}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>Arquivo {{arquivo.extensao}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{arquivo.dtcadastro}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{arquivo.usuario}}</p></div>
                            <div style="clear:both"></div>
                        </a>
                        <a class="{{classUnique}}" ng-if="arquivo.codstatusarquivo == 3" target="_self" title="{{arquivo.nome}}" ng-click="visualizarArquivo(arquivo.caminho, arquivo.nome)">
                            <div class="{{classFloatList}}"><i class="{{getIcone(arquivo.nome)}} {{classIconSize}}" style="color:#65b565"></i></div>
                            <div class="col-sm-{{colStyleExibe}}"><p>{{arquivo.nome}}</p></div>
                            <div style="text-align:right;{{styleExibe}}" class="col-sm-1"><p>{{arquivo.tamanho| formatFileSize}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>Arquivo {{arquivo.extensao}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{arquivo.dtcadastro}}</p></div>
                            <div style="{{styleExibe}}" class="col-sm-2"><p>{{arquivo.usuario}}</p></div>
                            <div style="clear:both"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" ng-init="inicializaArquivosEditar();">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Carregar Arquivos</h4>
                <ol class="breadcrumb" style="margin: 5px 0px -5px;">
                    <li class="rotate-in" ng-repeat="pasta in estruturaPasta">
                        <a ng-if="pasta.type === 0" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 1" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 2" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 3" href="#">{{pasta.pasta}}</a>
                        <a ng-if="pasta.type === 4" href="#">{{pasta.pasta}}</a>
                    </li>         
                </ol>
            </div>
            <div class="modal-body">
                <div class="fadeOut" ng-show="arquivosEditar == 'false'"  >
                    <div class="form-group">
                        <label for="arquivos">Pesquise os arquivos:</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Arquivo&hellip; <input type="file" multiple nv-file-select="" uploader="uploader"
                                                           id="arquivos"
                                                           data-label="Arquivos" data-require="true" up-Arquivos />
                                </span>
                            </span>
                            <input id='labelArquivos' type="text" class="form-control" readonly="readonly" ng-class="require">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tipoArquivo">Selecione um tipo para seu(s) arquivo(s)</label>
                        <select type="{{input.type}}" class="form-control" ng-options="o.codigo as o.nome for o in listaTipoArquivo"
                                ng-model="cadastro.codtipoarquivo" ng-multiple="input.ngmultiple" 
                                ng-class="{'require': input.require}" ng-change="callFunction(input.ngchange); carregarListaPreAprovados(cadastro.codtipoarquivo);" id="tipoArquivo">
                            <option ng-disabled="true" ng-selected="true" value="">{{input.default}}</option>
                        </select>
                    </div>
                    <div>                            
                        <div class="row">
                            <div class="dual-list list-left col-md-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Usuário</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Aprovadores</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%"  >
                                                <div style="width:100%" >
                                                    <select class="form-control" multiple id="availabelist" size="10" style="width:100%" 
                                                            ng-model="SelectedAvailItems" 
                                                            ng-options="i as i.nome for i in lista.usuarioempresa">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" ng-disabled="tipoArquivos[0].fixo == 0 ? false : true" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRight(SelectedAvailItems)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft"  ng-disabled="tipoArquivos[0].fixo == 0 ? false : true" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnLeft(SelectedSelectedListItems)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control"  multiple id="selectedlist" size="10"  style="width:100%"
                                                            ng-model="SelectedSelectedListItems" 
                                                            ng-options="i as i.nome for i in lista.aprovacao">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br />
                </div>
                <div class="fadeIn" ng-if="arquivosEditar !== 'false'">
                    <table class="table table-condensed" id="editFile">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Palavras Chave</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in arquivosEditar">
                                <td ng-init="arquivosEditar[$index].caminho = arquivosEditar[$index].caminho + arquivosEditar[$index].codarquivo + '/';
                                                    arquivosEditar[$index].codusuariocadastro = usuario.codusuario;">{{$index + 1}}</td>
                                <td>{{a.nome}}</td>
                                <td><input ng-init="arquivosEditar[$index].descricao = ''" type="text"  
                                           ng-model="arquivosEditar[$index].descricao" placeholder="Não Informado"
                                           data-label="#{{$index + 1}} Descrição" data-require="true" />
                                </td>
                                <td><input ng-init="arquivosEditar[$index].palavrachave = ''" type="text" 
                                           ng-model="arquivosEditar[$index].palavrachave"  placeholder="Não Informado"
                                           data-label="#{{$index + 1}} Palavra Chave" data-require="true" />
                                </td>
                                <td ng-click="removerArquivo(a.codarquivo, $index);" style='cursor: pointer;'><i class="fa fa-close"></i></td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" limpar-Arquivos>Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="carregarArquivos();" limpar-Arquivos ng-if='arquivosEditar == "false"'>Upload</button>
                    <button type="button" class="btn btn-primary" ng-click="atualizarArquivos(arquivosEditar);" ng-if='arquivosEditar != "false"'>Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCompartilhamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="min-width: 800px !important">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compartilhar Arquivo</h4>
            </div>
            <div class="modal-body">
                <div class="fadeOut">
                    <div>                            
                        <div class="row">
                            <div class="dual-list list-left col-md-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Usuário</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getUsuariosCompartilhar()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="10" style="width:100%" 
                                                            ng-model="usuarioSelecionado" 
                                                            ng-options="i as i.nome for i in lista.usuarioCompartilhar">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddUsuario(usuarioSelecionado)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemUsuario(usuarioCompartilhado)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="10" style="width:100%"
                                                            ng-model="usuarioCompartilhado" ng-options="i as i.nome for i in lista.compartilhado">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Departamento</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getDepartamentosCompartilhar()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="5" style="width:100%" 
                                                            ng-model="departamentoSelecionado" 
                                                            ng-options="i as i.nome for i in lista.departamentoCompartilhar">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddDepartamento(departamentoSelecionado)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemDepartamento(departamentoCompartilhado)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="5" style="width:100%"
                                                            ng-model="departamentoCompartilhado" ng-options="i as i.nome for i in lista.deptocompartilhado">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="compartilharArquivo()" >Compartilhar</button>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="modalCompartilhamentoPasta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compartilhar Pasta</h4>
            </div>
            <div class="modal-body">
                <div class="fadeOut">
                    <div>                            
                        <div class="row">
                            <div class="dual-list list-left col-md-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Usuário</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getUsuariosCompartilharPasta()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="10" style="width:100%" 
                                                            ng-model="usuarioSelecionadoPasta" 
                                                            ng-options="i as i.nome for i in lista.usuarioCompartilharPasta">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddUsuarioPasta(usuarioSelecionadoPasta)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemUsuarioPasta(usuarioCompartilhadoPasta)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="10"  style="width:100%"
                                                            ng-model="usuarioCompartilhadoPasta" ng-options="i as i.nome for i in lista.compartilhadoPasta">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Departamento</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getDepartamentosCompartilharPasta()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="5" style="width:100%" 
                                                            ng-model="departamentoSelecionadoPasta" 
                                                            ng-options="i as i.nome for i in lista.departamentoCompartilharPasta">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddDepartamentoPasta(departamentoSelecionadoPasta)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemDepartamentoPasta(departamentoCompartilhadoPasta)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="5"  style="width:100%"
                                                            ng-model="departamentoCompartilhadoPasta" ng-options="i as i.nome for i in lista.deptocompartilhadoPasta">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="compartilharPasta()" >Compartilhar</button>
                </div>
            </div>
        </div>
    </div> 
</div>