<div class="col-md-12 col-sm-12 col-xs-12 {{classe}}" ng-init="inicializarTBody();">
    <div class="x_panel"  id="loading-bar-container"   >
        <div class="x_title">
            <h2>{{titulo}}<small>{{subTitulo}}</small></h2>
            <button href="{{btNovo.link}}" class="btn btn-success pull-right" data-link="{{btNovo.link}}" acesso-Master custom-click>
                {{btNovo.nome}}</button>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-lg-offset-0 col-lg-4">
                    <a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link()}}" download="test.csv">Excel</a>
                </div>
                <div class="col-lg-offset-4 col-lg-4">
                    <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="search" />
                </div>
            </div>
            <div class="table-responsive">
                <table id="datatable-buttons" ng-table-dynamic="ParamTable with cols" class="table table-bordered table-striped" export-csv="csv" separator=";"> 
                    <tr ng-repeat="row in data| filter:search" class="slide-down">
                        <td ng-repeat="col in cols" ng-if="col.field != 'editar' && col.field != 'excluir' && col.field != 'logo'">
                            {{row[col.field]}}
                        </td>
                        <td ng-repeat="col in cols" ng-if="col.field == 'logo'" style="background-color: #093662;">
                            <div style="background: url(upload/{{row[col.field]}}) center center no-repeat;background-size: contain;">&nbsp;</div>
                        </td>
                        <td ng-repeat="col in cols" ng-if="col.field == 'editar' && col.field != 'excluir'">
                            <a href="{{editItem}}{{row.editar}}"  class="edit">
                                <span class="fa fa-pencil"></span>
                            </a>
                        </td>
                        <td ng-repeat="col in cols" ng-if="col.field != 'editar' && col.field == 'excluir'" acesso-Master>
                            <a href="#" class="remove"  ng-click="excluir(row.excluir)">
                                <span class="fa fa-close"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
</div>

