<div class="col-md-12 col-sm-12 col-xs-12 {{classe}}" ng-init=""> 
    <div class="" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 {{classe}}" ng-init="inicializarTBody();">
                <div class="x_panel"  id="loading-bar-container"   >
                    <div class="x_title">
                        <h2><i ng-if="iconeTitulo" class="{{iconeTitulo}}"></i>{{titulo}}<small>{{subTitulo}}</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">            
                        <div class="table-responsive" >
                            <table id="datatable"  width='100%' class="display table table-striped table-bordered">             
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCompartilhamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="min-width: 800px !important">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compartilhar Arquivo</h4>
            </div>
            <div class="modal-body">
                <div class="fadeOut">
                    <div>                            
                        <div class="row">
                            <div class="dual-list list-left col-md-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Usuário</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getUsuariosCompartilhar()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="10" style="width:100%" 
                                                            ng-model="usuarioSelecionado" 
                                                            ng-options="i as i.nome for i in lista.usuarioCompartilhar">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddUsuario(usuarioSelecionado)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemUsuario(usuarioCompartilhado)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="10" style="width:100%"
                                                            ng-model="usuarioCompartilhado" ng-options="i as i.nome for i in lista.compartilhado">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Departamento</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getDepartamentosCompartilhar()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="5" style="width:100%" 
                                                            ng-model="departamentoSelecionado" 
                                                            ng-options="i as i.nome for i in lista.departamentoCompartilhar">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddDepartamento(departamentoSelecionado)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemDepartamento(departamentoCompartilhado)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="5" style="width:100%"
                                                            ng-model="departamentoCompartilhado" ng-options="i as i.nome for i in lista.deptocompartilhado">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="compartilharArquivo()" >Compartilhar</button>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="modalCompartilhamentoPasta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compartilhar Pasta</h4>
            </div>
            <div class="modal-body">
                <div class="fadeOut">
                    <div>                            
                        <div class="row">
                            <div class="dual-list list-left col-md-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Usuário</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getUsuariosCompartilharPasta()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="10" style="width:100%" 
                                                            ng-model="usuarioSelecionadoPasta" 
                                                            ng-options="i as i.nome for i in lista.usuarioCompartilharPasta">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddUsuarioPasta(usuarioSelecionadoPasta)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemUsuarioPasta(usuarioCompartilhadoPasta)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="10"  style="width:100%"
                                                            ng-model="usuarioCompartilhadoPasta" ng-options="i as i.nome for i in lista.compartilhadoPasta">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td><span style="max-width: 100%; margin-bottom: 5px;font-weight: 700;">Departamento</span></td>
                                            <td></td>
                                            <td><span style="max-width: 100%; margin-bottom: 5px; font-weight: 700;">Compartilhar</span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%" ng-init="getDepartamentosCompartilharPasta()">
                                                <div style="width:100%">
                                                    <select class="form-control" multiple id="availabelist" size="5" style="width:100%" 
                                                            ng-model="departamentoSelecionadoPasta" 
                                                            ng-options="i as i.nome for i in lista.departamentoCompartilharPasta">                                                                
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="float:left">
                                                    <button id="btnRight" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnAddDepartamentoPasta(departamentoSelecionadoPasta)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                                    <button id="btnLeft" class="btn btn-primary" style="width:50px; margin: .5em 2em;" ng-click="btnRemDepartamentoPasta(departamentoCompartilhadoPasta)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                                                </div>
                                            </td>
                                            <td  style="width:50%">
                                                <div>
                                                    <select class="form-control" multiple id="selectedlist" size="5"  style="width:100%"
                                                            ng-model="departamentoCompartilhadoPasta" ng-options="i as i.nome for i in lista.deptocompartilhadoPasta">                                                       
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="compartilharPasta()" >Compartilhar</button>
                </div>
            </div>
        </div>
    </div> 
</div>